<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title layout:title-pattern="$LAYOUT_TITLE::$CONTENT_TITLE">AMICUIS</title>
	<th:block th:replace="fragments/css"></th:block>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body class="bg-dark">
	<div class="layout">
		<div class="left-nav-wrapper layout-inline">
			<nav class="nav" th:replace="fragments/left"></nav>
		</div>
		<div class="right-wrapper layout-inline">
			<header class="header" th:replace="fragments/header"></header>
			<div class="wrapper" layout:fragment="content">
			</div>
		</div>
	</div>
	
	<footer class="footer" th:replace="fragments/footer"></footer>
	<th:block th:replace="fragments/script"></th:block>
</body>
</html>