@charset "UTF-8";

.left-nav-wrapper {
	position: relative;
}
.nav-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-basis: 220px;
	flex-shrink: 0;
	min-width: 1px;
	max-width: 260px;
	background: #4d394b;
	z-index: 201;
	box-sizing: content-box;
	visibility: visible;
	color: #ddd;
}

.nav-channel {
	width: 220px;
	float: left;
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.home {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 1;
	color: #6f7890;
	text-align: center;
	border-bottom: 0;
	background-color: #0f1013;
}
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav-items {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.nav-items > .item {
	float: none;
	display: inline-block;
}
.nav > li > a {
	color: #cfd2da;
}
.nav-items > .item > .link {
	position: relative;
	padding: 10px 12px;
	font-size: 18px;
	color: inherit;
	text-align: center;
	border-radius: 0;
}
.item-bg {
	padding: 1.3rem 1.3rem;
	text-align: center;
}
.item-bg {
	position: relative;
	top: 2px;
	display: inline-block;
	font-family: "toolkit-entypo";
	speak: none;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}