<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-grid.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/left.css" />
	<link rel="stylesheet" href="css/footer.css" />
	<link rel="stylesheet" href="css/application.css" />
</html>
