<!DOCTYPE html>
<html>
	<script type="text/javascript" src="/js/jquery-3.3.1.js" ></script>
	<script type="text/javascript" src="/bootstrap/assets/js/vendor/popper.min.js" ></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/alert.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/button.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/carousel.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/collapse.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/dropdown.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/modal.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/tooltip.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/popover.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/tab.js" ></script>
	<script type="text/javascript" src="/bootstrap/js/dist/util.js" ></script>
	<script type="text/javascript" src="/js/left.js" ></script>
</html>